@font-face {
  font-family: "TabacGlam";
  src: url("../assets/fonts/TabacGlamG4-Regular.woff2") format("woff2"),
    url("../assets/fonts/TabacGlamG4-Regular.woff") format("woff");
}
footer {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  width: 100%;
  min-height: 40px;
  background-color: #505050;
  justify-content: space-evenly;
  bottom: 0%;
  font-family: "TabacGlam", sans-serif;
  font-size: 24;
  a {
    text-decoration: none;
  }
}

@media (max-width: 700px) {
  footer {
    display: none;
  }
}
