@import "./navbar";
@import "./footer";
@font-face {
  font-family: "TabacGlam";
  src: url("../assets/fonts/TabacGlamG4-Regular.woff2") format("woff2"),
    url("../assets/fonts/TabacGlamG4-Regular.woff") format("woff");
  font-display: swap;
}

body {
  height: 100vh;
  max-height: 2771px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: url(../assets/images/dangerous-convictions_bg.webp) no-repeat
    center top fixed;
  background-color: #1e1e1e;
  font-family: "TabacGlam", sans-serif;
  h1 {
    color: #da9100;
  }
  .container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto;
    @media (nax-width: 1300px){
      flex-direction: column;
    }
    .content-title {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      padding: 2rem;
      margin: 50px;
      text-align: center;
      background-color: rgba($color: #505050, $alpha: 0.8);
      border-radius: 1rem;
      box-shadow: 0px 10px 10px 0px #000000;
      .img-title {
        max-width: 100%;
        height: auto;
        align-self: center;
      }
      h1 {
        font-size: 42px;
        color: #da9100;
      }
      p {
        font-size: 18px;
      }
      .img-poster {
        width: 30%;
        max-width: 500px;
        align-self: center;
        clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
        transition: 0.4s cubic-bezier(1, -1, 0, 2);
        @media (max-width: 720px) {
          width: 60%;
        }
      }
      .img-poster:hover {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
      }
      .img-main {
        height: auto;
        width: 70%;
        align-self: center;
        border-radius: 1rem;
        box-shadow: 0px 10px 10px 0px #000000;
        @media (max-width: 1080px) {
          width: 50%;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
      }
    }
    .content-box {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 2rem;
      margin: 50px;
      text-align: center;
      background-color: rgba($color: #505050, $alpha: 0.8);
      border-radius: 1rem;
      box-shadow: 0px 10px 10px 0px #000000;
      img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 1rem;
      }
      h1 {
        font-size: 24px;
        color: #da9100;
      }
    }
    .content-box:hover {
      background-color: rgba($color: #646464, $alpha: 1);
      box-shadow: 0px 20px 10px 0px #000000;
    }
    .content-category {
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      margin: 50px;
      margin-left: -100px;
      padding: 2rem;
      background-color: rgba($color: #505050, $alpha: 0.8);
      border-radius: 1rem;
      box-shadow: 0px 10px 10px 0px #000000;
      @media (max-width: 1300px) {
        margin: 50px;
      }
      h1 {
        font-size: 36px;
        color: #da9100;
      }
      p {
        font-size: 18px;
      }
      a {
        position: relative;
        width: fit-content;
        align-self: flex-end;
        border-radius: 100%;
        img {
          width: 40px;
          height: auto;
          transform: rotate(90deg);
        }
      }
      blockquote {
        font-style: italic;
        font-size: 24px;
      }
      .arcane-critica1 {
        margin: 10px;
        width: 80%;
        max-width: 500px;
        height: auto;
        border-radius: 1rem;
        @media (max-width: 1300px){
          width: 100%;
          margin: 1px;
          margin-bottom: 4px;
        }
      }
      .arcane-critica2 {
        margin: 10px;
        width: 60%;
        max-width: 400px;
        height: auto;
        border-radius: 1rem;
        @media (max-width: 1300px){
          width: 80%;
          margin: 1px;
        }
      }
      .video-responsive {
        float: none;
        clear: both;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        padding-top: 25px;
        position: relative;
        iframe {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      .img-class {
        width: 40%;
        height: auto;
        border-radius: 0.5rem;
        box-shadow: 0px 10px 10px 0px #000000;
      }
      .name-list {
        font-size: 20px;
      }
      .category-list {
        font-size: 20px;
      }
      picture {
        display: flex;
        justify-content: center;
        .img-emmy {
          height: auto;
          width: 40%;
          border-radius: 1rem;
          @media (max-width: 1080px) {
            width: 30%;
            height: auto;
          }
        }
      }
      button {
        align-self: flex-end;
        max-width: 200px;
        font-family: "TabacGlam", sans-serif;
        font-size: 20px;
      }
      .svg-load {
        display: flex;
        flex-direction: row;
        .svg-progress {
          font-size: 24px;
          text {
            transform: translateY(5px);
            animation: wavy-text 1s alternate steps(2, end) infinite;
          }
          .svg-1 {
            animation-delay: 0s;
          }
          .svg-2 {
            animation-delay: 0.05s;
          }
          .svg-3 {
            animation-delay: 0.1s;
          }
          .svg-4 {
            animation-delay: 0.15s;
          }
          .svg-5 {
            animation-delay: 0.2s;
          }
          .svg-6 {
            animation-delay: 0.25s;
          }
          .svg-7 {
            animation-delay: 0.3s;
          }
          .svg-8 {
            animation-delay: 0.35s;
          }
          .svg-9 {
            animation-delay: 0.4s;
          }
          .svg-10 {
            animation-delay: 0.45s;
          }
          @keyframes wavy-text {
            100% {
              transform: translate(0, 3px);
            }
            0% {
              transform: translate(0, 0px);
            }
          }
        }
        #loading-spinner {
          animation: loading-spinner 1s linear infinite;
          @keyframes loading-spinner {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    .content-links {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      min-width: 600px;
      margin: 50px;
      margin-left: -100px;
      padding: 2rem;
      background-color: rgba($color: #505050, $alpha: 0.8);
      border-radius: 1rem;
      box-shadow: 0px 10px 10px 0px #000000;
      @media (max-width: 1300px){
        min-width: 300px;
        margin-left: 0px;
      }
      a {
        position: relative;
        color: #000000;
        font-size: 20px;
        font-style: normal;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #da9100;
}
::-webkit-scrollbar-thumb:hover {
  background: #ce9d3b;
}
